<div class="is-light has-text-centered">
  <p class="f3">
    <%= icon('fas', 'rocket') %>
  </p>
  <p class="has-text-centered">
    Tus dos primeras publicaciones no tienen coste
  </p>
  <span class="block mb4"></span>
</div>

<div class="has-text-centered submit-box">
  <% button_name = t('jobs.post_job') %>
  <% loading_text = 'Publicando...' %>
  <%= f.submit button_name, 
    class: "button is-rounded is-large is-success mt3", 
    id: "submitJobButton", 
    data: { disable_with: loading_text } %>
</div>
