<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3"> <%= t('jobs.post_job') %> <%= t('instantly_exclamation') %> </h1>
        <%= render 'form', job: @job, edit_page: false %>
      </div>
    </div>
  </div>
</section>
