<section class="section main-section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3"> <%= t('jobs.post_job') %> ¡Al instante! </h1>
        <%= render 'form', job: @job, edit_page: false %>
      </div>
    </div>
  </div>
</section>

<%= content_for :footer do %>
  <%= javascript_include_tag "jobs/stripe.js" %>
<% end %>
