<% unless current_user.is_ambassador_company? %>
  <div class="container">
    <article class="message is-warning">
      <div class="message-body has-text-centered">
        <%= t('discounts.hiring_tech_10').html_safe %>
      </div>
    </article>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3"> <%= t('jobs.post_job') %> <%= t('instantly_exclamation') %> </h1>
        <%= render 'form', job: @job, edit_page: false %>
      </div>
    </div>
  </div>
</section>
