<section class="section main-section">
  <div class="container">
    <% if current_user.is_candidate? %>
      <%= render 'edit_candidate_form' %>
    <% else %>
      <%= render 'edit_form' %>
    <% end %>
  </div>
</section>
