<section class="section main-section">
  <div class="container">
    <% if current_user.is_candidate? %>
      <%= render 'candidate_form' %>
    <% end %>
      
    <% unless current_user.is_candidate? %>
      <%= render 'form' %>
    <% end %>
  </div>
</section>

<%= content_for :footer do %>

  <%= javascript_include_tag "helpers/image_loader.js" %>

<% end %>
