.job-description {
  font-family: 'archia' !important;
  font-size: 16px !important;
  color: #444444 !important;

  ul {
    list-style: disc;
    margin-left: 15px;
    font-family: 'archia' !important;
    font-size: 16px !important;
    color: #444444 !important;
  }

  p {
    font-family: 'archia' !important;
    font-size: 16px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0  !important;
    margin-bottom: 15px !important;
    color: #444444 !important;
  }

  span {
    font-family: 'archia' !important;
    font-size: 16px !important;
    color: #444444 !important;
  }

  li {
    font-family: 'archia' !important;
    font-size: 16px !important;
    color: #444444 !important;
    white-space: normal !important;
  }

  strong {
    font-family: 'archiabold' !important;
    font-size: 16px !important;
    color: #444444 !important;
  }

  small {
    font-family: 'archia' !important;
    font-size: 14px !important;
    color: #444444 !important;
  }
}

.job-highlighted-info {
  border: 1px solid #dbdbdb;
}

.job-tag {
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;

  &.category-tag,
  &.level-tag {
    border: 1px solid darken(#F5F5F5, 10%);
    background-color: #F5F5F5;

    &.bg-white {
      background-color: white;
    }
  }

  &.skill-tag {
    border: 1px solid $success;
    color: #0a854d;
    background-color: lighten($success, 40%);
  }

  @media (max-width: 1215px) {
    &.skill-tag {
      margin-top: 16px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 16px;
  }
}

.blurred-section {
  filter: blur(5px);
}

.over-blurred-message {
  z-index: 99999;
  position: absolute;
  width: 100%;
  max-width: 500px;
  font-size: 18px;
  font-weight: bold;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.job-we-match-container {
  background: $light_gray;
  padding: 32px;
  border-radius: 20px;
  border: 2px solid $dark;
}

.jobs-company-logos img {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.jobs-company-logos img:hover {
  filter: grayscale(0%);
}
