.job-description {
  font-family: 'archiaregular';

  ul {
    list-style: disc;
    margin-left: 15px
  }

  p {
    font-family: 'archiaregular';
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }

  strong {
    font-weight: bold;
  }
}