.pricing-page-wrapper {
  background: linear-gradient(to bottom, #F9F9F9 30%, transparent 0);
}

.pricing-box {
  max-width: 400px;
  padding: 40px 24px;
}

.headline {
  padding: 24px 0;

  p.subtitle {
    margin: 0;
  }
}

.pricing-price-title {
  font-size: 8rem;
}

@media(max-width: 768px) {
  .pricing-price-title {
    font-size: 4rem;
  }
}

.pricing-price-box {
  border: 2px solid #37D1B2;
}
