<section class="section pv6">
	<div class="container">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Éste es tu lugar <br>
				</p>
				<p>
          Únete a la comunidad digital más activa del momento y <br>
          accede a oportunidades de trabajo dentro del ecosistema tecnológico que encajen contigo.
				</p>
				<p class="mt4">
					<%= link_to t('candidate_access'), how_it_works_candidates_path, class: 'button is-rounded primary shadow' %>
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_programmer.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv6">
	<div class="container">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					¡Welcome! <br>
				</p>
				<p>
          Únete a la comunidad digital más activa del momento y <br>
          accede a oportunidades de trabajo dentro del ecosistema tecnológico que encajen contigo.
				</p>
				<p class="mt4">
					<%= link_to t('candidate_access'), how_it_works_candidates_path, class: 'button is-rounded primary shadow' %>
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_programmer.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>