<h1 class="title is-1 title-touch">
	<span> <%= t('claim.text_1') %> </span>
	<span class="primary-color is-block"> <%= t('claim.text_2') %> </span>
	<span class="is-block"> <%= t('claim.text_3') %> </span>
	<span class="primary-color is-block"> <%= t('claim.text_4') %> </span>
</h1>
