<div class="card">
  <div class="columns">
    <div class="column is-2 has-text-centered">
      <%= image_tag(i.user.picture_url, size: 50) %>
    </div>
    <div class="column">
      <%= i.user.name %>
    </div>
    <div class="column">
      <%= i.user.email %>
    </div>
  </div>
</div>

