<div class="tabs is-centered">
  <ul>
    <li class="<%= 'is-active' if current_page?(user_jobs_jobs_path) %>">
      <%= link_to user_jobs_jobs_path do %>
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span> My jobs </span>
      <% end %>
    </li>
    <li class="<%= 'is-active' if current_page?(edit_user_registration_path) %>">
      <%= link_to edit_user_registration_path do %>
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span> Edit my account </span>
      <% end %>
    </li>
  </ul>
</div>
