body {
	background-color: $white;
}

.is-section-primary {
	background-color: $primary;
	color: $white;

	h2.title {
		color: $white;
	}
}

@media(max-width: 768px) {
	img.is-rounded {
		max-width: 185px;
	}
}

.trix-editor-wrapper {

	.trix-content {
		background: white;
		border-radius: 8px;
		border: 1px solid lightgrey;
	
		&:hover {
			border: 1px solid darkgrey;
		}
	}

	.trix-button--icon-link, 
	.trix-button--icon-heading-1,
	.trix-button--icon-quote,
	.trix-button--icon-code {
		display: none;
	}
}

.admin-block {
	border: 1px solid black;
  border-radius: 6px;
}

.is-flex.wrap {
	flex-wrap: wrap;
}

.jobs-section {
	background-color: #F9F9F9;
}
