body {
	background-color: $white;
}

h1.title {
	font-size: 3rem;
	font-weight: lighter;

	@media(max-width: 1600px) {
		font-size: 2rem;
	}

	@media(max-width: 1200px) {
		font-size: 1.5rem;
	}
}

.main-section {
	padding-top: 3rem;
	padding-bottom: 2.5rem;
}

section {

	&.section {
		@media(min-width: 1200px) {
			padding: 3rem 5.5rem;
		}
	}

	.column {
		@media(max-width: 768px) {
			padding: .75rem;
		}
	}

	.title {
		@media(max-width: 768px) {
			margin-top: 0;
		}

		@media(min-width: 769px) and (max-width: 1200px) {
			margin-top: 0;
		}
	}

	@media(max-width: 768px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	h2.title {

		font-size: 2.5rem;
		letter-spacing: -1.54px;
		line-height: 56px;

		@media(max-width: 1023px) {
			font-size: 1.5rem;
			line-height: 35px;
		}
	}

	.rounded-img {
		box-shadow: 8px 6px 10px -6px #ccc;
		border-radius: 50%;

		@media(max-width: 768px) {
			margin-top: 0;
			width: 100px;
			height: 100px;
		}

		&.is-blank {
			box-shadow: none;
		}
	}
}

.is-section-primary {
	background-color: $primary;
	color: $white;

	h2.title {
		color: $white;
	}
}

@media(max-width: 768px) {

	img.is-rounded {
		max-width: 185px;
	}
}

.container {

	&.is-wrapper {
		padding: .75rem;

		.columns:not(:last-child) {
			margin-bottom: 0px;
		}

		.wrapper-content {
			
			@media (max-width: 768px) {
				padding: 0rem 1rem;
			}
		}
	}
}

.trix-editor-wrapper {

	.trix-content {
		background: white;
		border-radius: 8px;
		border: 1px solid lightgrey;
	
		&:hover {
			border: 1px solid darkgrey;
		}
	}

	.trix-button--icon-link, 
	.trix-button--icon-heading-1,
	.trix-button--icon-quote,
	.trix-button--icon-code {
		display: none;
	}
}

.admin-block {
	border: 1px solid black;
  border-radius: 6px;
}