body {
  font-family: 'archiaregular';
  font-size: 16px;
  color: #444444;
}

h1, h2, h3, h4, h5 {
  font-family: 'archiabold';
}

small {
  font-family: 'archiathin';
}

a {

  &.is-normal-link {
    color: $black; 
    text-decoration: underline;
    
    &:hover {
      color: #276DDA;
    }
  }
}

.is-strikethrough {
  text-decoration: line-through;
}

.has-text-corporate {
  color: $primary;
}
