<div class="claim hero is-medium is-mb-bg">
	<div class="hero-body">
		<div class="container">
			<div class="columns has-text-centered is-marginless">
				<div class="column is-3"></div>
				<div class="column is-6">
					<h1 class="title title-mb">
						<%= link_to jobs_path, class: 'home-link' do %>
							<%= Job.not_expired.count %> <%= t('companies') %>
						<% end %>
						<%= t('home_h1') %>
						<span class="primary-color"> ¡Ahora! </span>
					</h1>
				</div>
				<div class="column is-3"></div>
			</div>
		</div>
	</div>
</div>