<div class="claim hero is-fullheight is-mb-bg home-bg">
	<div class="hero-body">
		<div class="container">
			<div class="columns has-text-centered">
				<div class="column is-4"></div>
				<div class="column is-4">
					<h1 class="title title-mb is-size-1">
						<%=t('home_h1').html_safe%> 
						<%= link_to 'Barcelona', jobs_path %>
					</h1>
				</div>
				<div class="column is-4"></div>
			</div>
		</div>
	</div>
</div>