<div class="claim-title">
	<div class="claim-title__container">
		<p class="claim-title__container__text">
			We are
		</p>
		
		<ul class="claim-title__container__list">
			<li class="claim-title__container__list__item"> Developers </li>
			<li class="claim-title__container__list__item"> Designers </li>
			<li class="claim-title__container__list__item"> Marketers </li>
			<li class="claim-title__container__list__item"> Product </li>
			<li class="claim-title__container__list__item"> Data </li>
		</ul>
	</div>
</div>
