<section class="section has-text-left-mobile">
	<div class="container">
		<div class="columns card-box-primary">
			<div class="column is-vertical-center justify-center">
				<img src="<%=asset_path('blackfriday_wah_WEB_1.png')%>" width="800" height="400" class="is-blank" alt="BLACKHIRING50 | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

