<h1 class="title is-1 title-touch">
	<span> Todo el </span>
	<span class="primary-color <%= 'is-block' if browser.device.mobile? %>"> empleo digital </span>
	<span class="is-block"> que buscabas </span>
	<span class="primary-color is-block"> aquí y ahora </span>
</h1>
