<div class="claim hero is-medium is-mb-bg">
	<div class="hero-body">
		<div class="container">
			<div class="columns has-text-centered">
				<div class="column is-3"></div>
				<div class="column is-6">
					<h1 class="title title-mb">
						<%= Job.not_expired.count %> <%= t('home_h1') %> 
						<%= link_to 'Barcelona', jobs_path, class: 'home-link' %>
					</h1>
				</div>
				<div class="column is-3"></div>
			</div>
		</div>
	</div>
</div>