<section class="section">
  <div class="container">
    <h1 class="mb3" id="h.30j0zll">
      <span class="c44 c29"> COOKIES EN EL SITIO WEB </span>
    </h1>
    <h2 class="mb2" id="h.1fob9te">
      <span class="c27">1.1. Nota Informativa</span>
    </h2>
    <p class="mb2">
      <span class="c7 c3">Para cumplir con lo establecido en el artículo 22 de la Ley 34/2002, de 11 de
        julio,
        de servicios de la sociedad de la información y de comercio electrónico, WE ARE HIRING debe disponer de una
        Política
        de Cookies en el Sitio Web, que describa qué cookies se utilizan y con qué finalidad. </span>
      </p>
    <p class="mb2">
      <span class="c3">En el momento en el que se accede por primera vez en el sitio web, debe aparecer un
        banner con la opción de “</span>
        <span class="c29">Aceptar</span>
        <span class="c3">” las cookies o “</span>
        <span
        class="c29">Configuración de Cookies</span>
        <span class="c7 c3">”, añadiendo el link a la Política de Cookies
        para
        que los usuarios obtengan más información. Con la opción “Configuración”, se le da la opción al usuario para
        consentir al uso de cookies que éste decida. De esta manera, aumentan las probabilidades de que el usuario
        prefiera
        aceptar todas las cookies.</span>
      </p>
    <p class="mb2 mb2">
      <span class="c7 c3"></span>
    </p>
    <p class="mb2">
      <span class="c3">Por tanto, se deberá disponer en el Sitio Web de </span>
      <span
        class="c3 c38">WE ARE HIRING</span>
        <span class="c2 c38">
          <a class="c34"
          href="https://www.wearehiring.io">www.wearehiring.io</a></span>
          <span
        class="c3">(en adelante, “el </span>
        <span class="c29">Sitio Web</span>
        <span class="c7 c3">”) de un BANNER de
        cookies.</span>
      </p>
    <p class="mb2">
      <span class="c7 c3">Según la Guía de Cookies de la Agencia Española de Protección de Datos, se debe
        utilizar un lenguaje claro y sencillo, evitando el uso de frases que induzcan a confusión o desvirtúen la
        claridad
        del mensaje: </span>
      </p>
    <p class="mb2">
      <span class="c3">“</span>
      <span class="c25">No serían válidas</span>
      <span class="c0">, por ejemplo,
        frases
        como “</span>
        <span class="c25">usamos cookies para personalizar su contenido y crear una mejor experiencia para
        usted</span>
        <span class="c0">” o “</span>
        <span class="c25">para mejorar su navegación</span>
        <span class="c0">”,
        o
        frases como “podemos utilizar sus datos personales para ofrecer servicios personalizados” para referirse a
        cookies
        publicitarias comportamentales. También deben evitarse términos como “puede”, “podría”, “algún”, “a menudo”, y
        “posible”</span>
        <span class="c3">”</span>
        <span class="c0 c62">.</span>
      </p>
    <p class="mb2 mb2">
      <span class="c62 c0"></span>
    </p>
    <p class="mb2 mb2">
      <span class="c62 c0"></span>
    </p>
    <h2 class="mb3">
      <span class="c27">1.2. Banner de Cookies</span></h2>
    <p class="mb2">
      <span class="c3">Por todo lo anterior, el </span>
      <span class="c29">texto que recomendamos incluir en
        el
        Banner</span>
        <span class="c3 c7"> (denominada primera capa) es el siguiente: </span>
      </p>
    <p class="mb2">
      <span class="c3 c15">“Utilizamos cookies, propias y de terceros, para medir y obtener datos
        estadísticos
        de la navegación de los usuarios. A su vez, utilizamos cookies analíticas y de personalización para, p.e;
        recordar
        el inicio de sesión a la cuenta de usuario o registrar las preferencias del usuario. Puedes configurar y aceptar
        el
        uso de cookies mediante el botón que se muestran a continuación, y modificar las opciones de tu consentimiento
        en
        cualquier momento visitando nuestra </span>
        <span class="c3 c77">Política de Cookies</span>
        <span class="c3">.
      </span>
      <span class="c3 c15">Asimismo, puedes obtener más información haciendo clic en “Configurar
        Cookies</span>
        <span class="c7 c3">”.</span>
      </p>
    <p class="mb2" id="h.2et92p0">
      <span class="c26"></span>
    </p>
    <p class="mb2">
      <span class="c26"></span>
    </p>
    <p class="mb2">
      <span class="c26"></span>
    </p>
    <h2 class="mb3">
      <span class="c26">1.3. Política de Cookies</span></h2>
    <p class="mb2">
      <span class="c4 c3"></span>
    </p>
    <p class="mb2" id="h.tyjcwt">
      <span class="c29 c37">Política de cookies</span>
    </p>
    <p class="mb2">
      <span class="c3">De conformidad con lo establecido en el Reglamento (UE) 2016/679 General de
        Protección de
        Datos y en el artículo 22 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de
        comercio electrónico, </span>
        <span class="c3 c38">EMPRESA</span>
        <span class="c3"> (en adelante “</span>
        <span
        class="c29">WE ARE HIRING</span>
        <span class="c7 c3">”) informa a través de la presente Política de Cookies
        acerca de
        la utilización de dispositivos de almacenamiento y recuperación de datos en equipos terminales de los
        Usuarios.</span>
      </p>
    <p class="mb2">
      <span class="c3">Esta política se debe leer juntamente con nuestra </span>
      <span class="c2">Política de
        Privacidad</span>
        <span class="c3">, </span>
        <span class="c7 c3">que explica como utilizamos la información
        personal.
      </span>
    </p>
    <p class="mb2">
      <span class="c4 c3"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0 start" start="1">
      <li class="c14">
        <h3 class="mb3">Concepto de cookie</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c7 c3">Las cookies son pequeños ficheros de datos que se alojan en el terminal
        (ordenador/smartphone/tablet) del Usuario y que contienen cierta información de la visita que el usuario hace al
        sitio web. La cookie es descargada por el dispositivo que usa para acceder al sitio web y almacenada en el disco
        duro de dicho dispositivo. Las cookies tienen diversas utilidades, entre ellas permitir que el sitio web
        reconozca
        su dispositivo cuando vuelva a visitarnos, asegurar que recibe el contenido correcto o guardar información con
        preferencias o servicios que el usuario nos haya proporcionado. Las cookies no dañan el dispositivo del usuario.
      </span>
    </p>
    <p class="mb2">
      <span class="c7 c3">Web beacons, píxeles u otros archivos similares también pueden hacer lo mismo. En
        la
        presente política de cookies utilizamos la palabra “cookie” para referirnos a todos los archivos que almacenan
        información de esta manera.</span>
      </p>
    <p class="mb2">
      <span class="c3 c4"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0" start="2">
      <li class="c14">
        <h3 class="mb3">Para qué se utilizan las cookies</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c7 c3">Las cookies cumplen muchas funciones. Por ejemplo, nos pueden ayudar a recordar su
        nombre de usuario y preferencias, analizar el rendimiento de nuestros sitios o permitirnos recomendar el
        contenido
        que creemos que será más relevante para usted.</span>
      </p>
    <p class="mb2">
      <span class="c7 c3">La mayoría de los sitios web utilizan cookies para recoger y retener información
        personal sobre sus visitantes. La mayoría de las galletas recopilan información general, tales como cómo llegan
        los
        visitantes y utilizan nuestros sitios, el dispositivo que utilizan, su dirección de protocolo de Internet
        (dirección
        IP), qué páginas están viendo y su ubicación aproximada.</span>
      </p>
    <p class="mb2">
      <span class="c4 c3"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0" start="3">
      <li class="c14">
        <h3 class="mb3">Tipos de cookies utilizadas en el sitio web</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c3">El Sitio Web utiliza los </span>
      <span class="c3">siguientes tipos de cookies:</span>
    
    </p>
    <ul class="c22 lst-kix_list_12-0 start">
      <li class="mb2">
        <span class="c7 c29">Cookies estrictamente necesarias</span>
        <span class="c7 c3"> para la
          prestación de
          determinados servicios solicitados expresamente por el usuario y que pueden servir para una correcta
          navegación o
          que sirven para asegurar que el contenido de un Sitio Web se carga eficazmente, en caso de desactivarse el
          usuario
          no podrá recibir correctamente los servicios y contenidos establecidos.</span></li>
      <li class="mb2">
        <span class="c7 c29">Cookies analíticas</span>
        <span class="c7 c3">: Cuando el Usuario accede al
          Sitio
          Web, a través de esta herramienta se recopila información anónima de manera estándar sobre la navegación del
          Usuario y sus patrones de comportamiento.</span></li>
      <li class="mb2">
        <span class="c55 c29">Cookies de personalización</span>
        <span class="c3 c55">, son aquéllas que
          permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en
          función de
          una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a
          través
          del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</span></li>
      <li class="mb2">
        <span class="c55 c29">Cookies técnicas</span>
        <span class="c55 c3">, son aquéllas que permiten al
          usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes
          opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos,
          identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido,
          realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento,
          utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o
          sonido o
          compartir contenidos a través de redes sociales.</span></li>
      <li class="mb2">
        <span class="c7 c29">Cookies de análisis</span>
        <span class="c7 c3">, para el seguimiento y
          recopilación de datos estadísticos de la actividad, con el propósito de garantizar el mejor servicio al
          usuario.</span></li>
      <li class="mb2 c68">
        <span class="c7 c29">Cookies de sesión</span>
        <span class="c7 c3">, están diseñadas para
          recabar y
          almacenar datos mientras el usuario accede a una página web.</span></li>
    </ul>
    <p class="c36 mb2">
      <span class="c7 c3"></span>
    </p>
    <p class="mb2">
      <span class="c7 c3">A continuación, se detallan la lista de cookies que se recogen en el portal web y
        la
        información que se almacena, así como su duración y qué empresas terceras son las que utilizan las cookies en el
        Sitio Web.</span>
      </p>
        <a id="t.d86de55a59bac091d90b4c99d2a1b78ef7ca1857"></a>
        <a id="t.1"></a>
    <table class="c50">
      <tbody>
        <tr class="c8">
          <td class="c23" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">EMPRESA</span>
            </p>
          </td>
          <td class="c65" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">NOMBRE DE LA COOKIE</span>
            </p>
          </td>
          <td class="c61" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">MÁS INFORMACIÓN</span>
            </p>
          </td>
          <td class="c9" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c3">DURACIÓN</span>
            </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c21" colspan="1" rowspan="3">
            <p class="c12">
              <span class="c7 c3">Google Analytics</span>
            </p>
          </td>
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">_utma</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Es necesaria para el funcionamiento de Google Analytics</span>
            </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Período de caducidad de 2 años</span>
            </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">__utmz</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Es utilizada para realizar la ubicación de la visita, es decir, desde
                dónde y
                cómo ha llegado el Usuario a nuestra web</span>
              </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Período de caducidad de 6 meses</span>
            </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">_utmb</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c3">Esta </span>
              <span class="c0">cookie</span>
              <span class="c7 c3"> registra la
                hora
                de llegada a la página</span>
              </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Caduca a los 30 minutos del último registro de página vista. Se elimina
                automáticamente al cambiar de web o al cerrar el navegador.</span>
              </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c21" colspan="1" rowspan="4">
            <p class="c12">
              <span class="c7 c3 c38">wearehiring.io</span>
            </p>
          </td>
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">CATEGORY_INFO</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Almacena la información de la categoría de la página y permite mostrar
                páginas de forma rápida</span>
              </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3"> </span>
            </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">USER_ALLOWED_SAVE_COOKIE</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Indicador de la aceptación de cookies por parte del cliente</span>
            </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3"> </span>
            </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">external_no_cache</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Bandera que indica si está permitido el caché</span>
            </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Hasta fin de sesión de navegador</span>
            </p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c5" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3"> ow_cookie_notice</span>
            </p>
          </td>
          <td class="c51" colspan="1" rowspan="1">
            <p class="c12">
              <span class="c7 c3">Utilizada para recordar tu preferencia de aceptación de nuestra política
                de
                cookies</span>
              </p>
          </td>
          <td class="c18" colspan="1" rowspan="1">
            <p class="c20">
              <span class="c7 c3"></span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="mb2">
      <span class="c7 c3"></span>
    </p>
    <p class="mb2">
      <span class="c7 c3"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0" start="4">
      <li class="c14">
        <h3 class="mb3">Cómo deshabilitar las cookies</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c7 c3">Todos los navegadores permiten hacer cambios para desactivar la configuración de
        las
        cookies. Este es el motivo por el que la mayoría de los navegadores ofrecen la posibilidad de administrar las
        cookies, para obtener un control más preciso sobre la privacidad.</span>
      </p>
    <p class="mb2">
      <span class="c7 c3">Estos ajustes se encuentran ubicados en las “opciones” o “preferencias” del menú
        de su
        navegador. Para obtener más información, visite la página de ayuda de su navegador.</span>
      </p>
    <ul class="c22 lst-kix_list_19-0 start">
      <li class="c57 c14">
        <span class="c7 c3">Para más información sobre Internet Explorer pulse </span>
        <span
          class="c29 c52">
          <a class="c34"
            href="https://www.google.com/url?q=http://support.microsoft.com/kb/196955/es&amp;sa=D&amp;ust=1591309944301000">aquí</a></span>
            <span
          class="c7 c3">.</span></li>
      <li class="c14 c57">
        <span class="c7 c3">Para más información sobre Google Chrome pulse </span>
        <span
          class="c52 c29 c56">
          <a class="c34"
            href="https://www.google.com/url?q=http://support.google.com/chrome/bin/answer.py?hl%3Des%26answer%3D95647&amp;sa=D&amp;ust=1591309944301000">aquí</a></span>
            <span
          class="c24 c3">.</span></li>
      <li class="c57 c14">
        <span class="c7 c3">Para más información sobre Mozilla Firefox pulse </span>
        <span
          class="c52 c29 c56">
          <a class="c34"
            href="https://www.google.com/url?q=http://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale%3Den-US%26redirectslug%3DCookies&amp;sa=D&amp;ust=1591309944302000">aquí</a></span>
            <span
          class="c7 c3">.</span></li>
      <li class="c57 c14">
        <span class="c7 c3">Para más información sobre Safari pulse </span>
        <span
          class="c52 c29 c56">
          <a class="c34"
            href="https://www.google.com/url?q=http://www.apple.com/es/privacy/use-of-cookies/&amp;sa=D&amp;ust=1591309944302000">aquí</a></span>
            <span
          class="c24 c3">.</span>
          <span class="c7 c3"> </span></li>
      <li class="c57 c14">
        <span class="c7 c3">Para más información sobre Safari para IOS (iPhone, iPad) pulse
        </span>
        <span class="c24 c3"> </span>
        <span class="c52 c29 c56">
          <a class="c34"
            href="https://www.google.com/url?q=http://support.apple.com/kb/HT1677?viewlocale%3Des_ES&amp;sa=D&amp;ust=1591309944303000">aquí</a></span>
            <span
          class="c3 c24">.</span></li>
    </ul>
    <p class="mb2">
      <span class="c7 c3"></span>
    </p>
    <p class="c42">
      <span class="c7 c3">Puede eliminar las cookies en la configuración de seguridad de su navegador en
        cualquier momento. Puede configurar la configuración de su navegador de acuerdo con sus deseos y rechazar la
        aceptación de cookies, ya sean únicamente las de terceros o bien todas las cookies. </span>
      </p>
    <p class="c41">
      <span class="c7 c3">En caso de dudas o precisar ayuda, el Usuario puede ponerse en contacto con
        nosotros
        a través de la siguiente dirección: </span>
        <span class="c2 c30">
          <a class="c34"
          href="mailto:dataprotection@balluff.de">(*)</a></span>
          <span class="c7 c3">.</span>
        </p>
    <p class="mb2">
      <span class="c7 c3"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0" start="5">
      <li>
        <h3 class="mb3">Cookies en los dispositivos móviles</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c7 c3">El Sitio Web también usa cookies u otros dispositivos de almacenamiento en
        dispositivos móviles.</span>
      </p>
    <p class="mb2">
      <span class="c7 c3">De la misma forma que sucede en los navegadores de ordenadores, los navegadores de
        los
        dispositivos móviles permiten realizar cambios en las opciones o ajustes de privacidad para desactivar o
        eliminar
        las cookies.</span>
      </p>
    <p class="mb2">
      <span class="c7 c3">Si desea modificar las opciones de privacidad siga las instrucciones especificadas
        por
        el desarrollador de su navegador para dispositivo móvil.</span>
      </p>
    <p class="mb2">
      <span class="c4 c3"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0" start="6">
      <li class="c14">
        <span class="c3 c35">Aceptación de cookies</span></li>
    </ol>
    <p class="mb2">
      <span class="c7 c3">Le informamos que en el caso de bloquear o no aceptar la instalación de cookies,
        pero
        seguir navegando por el Sitio Web, es posible que ciertos servicios no estén disponibles sin la utilización de
        éstas
        o que no pueda acceder a determinados servicios ni tampoco aprovechar por completo todo lo que este Sitio Web le
        ofrece.</span>
      </p>
    <p class="mb2">
      <span class="c4 c3"></span>
    </p>
    <ol class="c22 lst-kix_list_13-0" start="7">
      <li class="c14">
        <h3 class="mb3">Más información</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c3">Puede encontrar más información sobre nuestro procesamiento de datos en nuestra
      </span>
      <span class="c29 c39">Política de privacidad</span>
      <span class="c2">.</span>
    </p>
    <p class="c41">
      <span class="c7 c3">Si tiene una consulta relacionada con el procesamiento de sus datos personales o
        galletas, póngase en contacto con nuestro responsable de privacidad en </span>
        <span class="c2 c30">
          <a
          class="c34" href="mailto:dataprotection@balluff.de">(*)</a></span>
          <span class="c7 c3 c38">.</span>
          <span
        class="c7 c56 c75">
      </span>
    </p>
    <p class="mb2">
      <span class="c4 c3"></span>
    </p>
    <ol class="c22 mb2" start="8">
      <li class="c14">
        <h3 class="mb3">Cambios en la Política de Cookies</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c3">Esta política es efectiva a partir de la fecha de publicación: </span>
      <span
        class="c3 c38">(*</span>
        <span class="c3">).</span>
      </p>
    <p class="mb2">
      <span class="c7 c3">Cualquier cambio que podamos hacer en esta política de cookies se publicará en
        esta
        página. Si los cambios son significativos, podemos optar por notificarlo por correo electrónico o para indicar
        claramente en nuestra página de inicio que la política se ha actualizado.</span>
      </p>
  </div>
</section>