<section class="section legal_notes">
  <div class="container">
    <div class="columns">
      <div class="column">  
        <h1 class="mb3">AVISO LEGAL Y TERMINOS LEGALES</h1>

        <h3 class="mb3">1. INFORMACIÓN LEGAL Y ACEPTACIÓN</h3>
        <p class="mb2"> 
          La utilización del Portal atribuye la condición de usuario del Portal (en adelante, el 'Usuario') e implica la aceptación de todas las condiciones incluidas en este Aviso Legal y la Política de Privacidad. 
        </p>
        <p class="mb2">
          El acceso a la página web es gratuito salvo en lo relativo al coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso contratado por los usuarios. Determinados servicios son exclusivos para nuestros clientes y su acceso se encuentra restringido y regulado por condiciones de servicio.
        </p>
        <p class="mb2">
          Por tanto, el Usuario debe leer atentamente el presente Aviso Legal en cada una de las ocasiones en que se proponga utilizar el Portal, ya que éste y sus condiciones de uso recogidas en el presente Aviso Legal pueden sufrir modificaciones.
        </p>
        <p class="mb2">
          Algunos servicios del Portal accesibles para los usuarios de Internet o exclusivos para los clientes de We Are Hiring pueden estar sometidos a condiciones particulares, reglamentos e instrucciones que, en su caso, sustituyen, completan y/o modifican el presente Aviso Legal y que deberán ser aceptadas por el Usuario antes de iniciarse la prestación del servicio correspondiente.
        </p>
        <p class="mb2">
          Las presentes disposiciones regulan el uso del servicio del portal de Internet (en adelante, el 'Portal') que We Are Hiring nombre comercial de We Are Hiring (en adelante, We Are Hiring) pone a disposición de los usuarios de Internet.
          We Are Hiring, con domicilio social en la Calle Pare Laínez, Barcelona, España y C.I.F. número 47970417C, Email: hello@wearehiring.io.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">  
        <h3 class="mb3">2. PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>
        <p class="mb2"> 
          Todos los contenidos del Portal, entendiendo por estos a título meramente enunciativo, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, links y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente (en adelante, los 'Contenidos'), son propiedad intelectual de We Are Hiring o de terceros, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación reconocidos por la normativa vigente en materia de propiedad intelectual sobre los mismos, salvo aquellos que resulten estrictamente necesarios para el uso del Portal.
          Las marcas, nombres comerciales o signos distintivos son titularidad de We Are Hiring o terceros, sin que pueda entenderse que el acceso al Portal atribuya ningún derecho sobre las citadas marcas, nombres comerciales y/o signos distintivos. 
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="mb3">3. CONDICIONES DE USO DEL PORTAL</h3>
        <h3 class="mb3">3.1 GENERAL</h3>
        <p class="mb2">
          El Usuario se obliga a hacer un uso correcto del Portal de conformidad con la Ley y el presente Aviso Legal. El Usuario responderá frente a We Are Hiring o frente a terceros de cualesquiera daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.
        </p>
        <p class="mb2">
          Queda expresamente prohibido el uso del Portal con fines lesivos de bienes o intereses de We Are Hiring o de terceros o que de cualquier otra forma sobrecarguen, dañen o inutilicen las redes, servidores y demás equipos informáticos (hardware) o productos y aplicaciones informáticas (software) de We Are Hiring o de terceros.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="mb3">3.2 CONTENIDOS</h3>
        <p class="mb2">
          El Usuario se compromete a utilizar los Contenidos de conformidad con la Ley y el presente Aviso Legal, así como con las demás condiciones, reglamentos e instrucciones que en su caso pudieran ser de aplicación de conformidad con lo dispuesto en la cláusula 1. Con carácter meramente enunciativo, el Usuario de acuerdo con la legislación vigente deberá abstenerse de:        
        </p>
        <p class="mb2">
          a) Reproducir, copiar, distribuir, poner a disposición, comunicar públicamente, transformar o modificar los Contenidos salvo en los casos autorizados en la ley o expresamente consentidos por We Are Hiring o por quien ostente la titularidad de los derechos de explotación en su caso.
        </p>
        <p class="mb2">
          b) Reproducir o copiar para uso privado los Contenidos que puedan ser considerados como Software o Base de Datos de conformidad con la legislación vigente en materia de propiedad intelectual, así como su comunicación pública o puesta a disposición de terceros cuando estos actos impliquen necesariamente la reproducción por parte del Usuario o de un tercero.
        </p>
        <p class="mb2">
          c) Extraer y/o reutilizar la totalidad o una parte sustancial de los Contenidos integrantes del Portal así como de las bases de datos que We Are Hiring ponga a disposición de los Usuarios.        
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="mb3">3.3 FORMULARIOS DE RECOGIDA DE DATOS</h3>
        <p class="mb2">
          Sin perjuicio de lo dispuesto en la cláusula 5 del presente Aviso Legal, así como en las políticas de privacidad accesibles desde el Portal y que pudieran resultar aplicables en cada momento, la utilización de ciertos servicios o solicitudes dirigidas a We Are Hiring están condicionadas a la previa cumplimentación del correspondiente registro de Usuario.      
        </p>
        <p class="mb2">
          Toda la información que facilite el Usuario a través de los formularios del Portal a los efectos anteriores o cualesquiera otros deberá ser veraz. A estos efectos, el Usuario garantiza la autenticidad de todos aquellos datos que comunique y mantendrá la información facilitada a We Are Hiring perfectamente actualizada de forma que responda, en todo momento, a la situación real del Usuario. En todo caso será el Usuario el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a We Are Hiring o a terceros por la información que facilite.
        </p>
      </div>
    </div>  
    <div class="columns">
      <div class="column">
        <h3 class="mb3">3.4 INTRODUCCIÓN DE ENLACES AL PORTAL</h3>
        <p class="mb2">
          El usuario de Internet que quiera introducir enlaces desde sus propias páginas web al Portal deberá cumplir con las condiciones que se detallan a continuación sin que el desconocimiento de las mismas evite las responsabilidades derivadas de la Ley:   
        </p>
        <p class="mb2">
          a) El enlace únicamente vinculará con la home page o página principal del Portal pero no podrá reproducirla de ninguna forma (inline links, copia de los textos, gráficos, etc).        
        </p>
        <p class="mb2">
          b) Quedará en todo caso prohibido, de acuerdo con la legislación aplicable y vigente en cada momento, establecer frames o marcos de cualquier tipo que envuelvan al Portal o permitan la visualización de los Contenidos a través de direcciones de Internet distintas a las del Portal y, en cualquier caso, cuando se visualicen conjuntamente con contenidos ajenos al Portal de forma que: (I) produzca, o pueda producir, error, confusión o engaño en los usuarios sobre la verdadera procedencia del servicio o Contenidos; (II) suponga un acto de comparación o imitación desleal; (III) sirva para aprovechar la reputación de la marca y prestigio de We Are Hiring; o (IV) de cualquier otra forma resulte prohibido por la legislación vigente.        
        </p>
        <p class="mb2">
          c) No se realizarán desde la página que introduce el enlace ningún tipo de manifestación falsa, inexacta o incorrecta sobre We Are Hiring, sus socios, empleados, clientes o sobre la calidad de los servicios que presta.
        </p>
        <p class="mb2">
          d) En ningún caso, se expresará en la página donde se ubique el enlace que We Are Hiring ha prestado su consentimiento para la inserción del enlace o que de otra forma patrocina, colabora, verifica o supervisa los servicios del remitente.
        </p>
        <p class="mb2">
          e) Está prohibida la utilización de cualquier marca denominativa, gráfica o mixta o cualquier otro signo distintivo de We Are Hiring dentro de la página del remitente salvo en los casos permitidos por la ley o expresamente autorizados por We Are Hiring y siempre que se permita, en estos casos, un enlace directo con el Portal en la forma establecida en esta cláusula
        </p>
        <p class="mb2">
          f) La página que establezca el enlace deberá cumplir fielmente con la ley y no podrá en ningún caso disponer o enlazar con contenidos propios o de terceros que: (I) sean ilícitos, nocivos o contrarios a la moral y a las buenas costumbres (pornográficos, violentos, racistas, etc.); (II) induzcan o puedan inducir en el Usuario la falsa concepción de que We Are Hiring suscribe, respalda, se adhiere o de cualquier manera apoya, las ideas, manifestaciones o expresiones, lícitas o ilícitas, del remitente; (III) resulten inapropiados o no pertinentes con la actividad de We Are Hiring en atención al lugar, contenidos y temática de la página web del remitente.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="mb3">4. EXCLUSIÓN DE RESPONSABILIDAD</h3>
        <h3 class="mb3">4.1 DE LA INFORMACIÓN</h3>
        <p class="mb2">
          El acceso al Portal no implica la obligación por parte de We Are Hiring de comprobar la veracidad, exactitud, adecuación, idoneidad, exhaustividad y actualidad de la información suministrada a través del mismo. Los contenidos de esta página son de carácter general y no constituyen, en modo alguno, ofertas firmes de trabajo, por lo que dicha información resulta insuficiente para la toma de decisiones personales o empresariales por parte del Usuario.        
        </p>
        <p class="mb2">
          We Are Hiring no se responsabiliza de las decisiones tomadas a partir de la información suministrada en el Portal ni de los daños y perjuicios producidos en el Usuario o terceros con motivo de actuaciones que tengan como único fundamento la información obtenida en el Portal.        
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="mb3">4.2 DE LA CALIDAD DEL SERVICIO</h3>
        <p class="mb2">
          El acceso al Portal no implica la obligación por parte de We Are Hiring de controlar la ausencia de virus, gusanos o cualquier otro elemento informático dañino. Corresponde al Usuario, en todo caso, la disponibilidad de herramientas adecuadas para la detección y desinfección de programas informáticos dañinos.      
        </p>
        <p class="mb2">
          We Are Hiring no se responsabiliza de los daños producidos en los equipos informáticos de los Usuarios o de terceros durante la prestación del servicio del Portal.        
        </p>
      </div>
    </div>       
    <div class="columns">
      <div class="column">
        <h3 class="mb3">4.3 DE LA DISPONIBILIDAD DEL SERVICIO</h3>
        <p class="mb2">
          El acceso al Portal requiere de servicios y suministros de terceros, incluidos el transporte a través de redes de telecomunicaciones cuya fiabilidad, calidad, continuidad y funcionamiento no corresponde a We Are Hiring. Por consiguiente, los servicios proveídos a través del Portal pueden ser suspendidos, cancelados o resultar inaccesibles, con carácter previo o simultáneo a la prestación del servicio del Portal.        
        </p>
        <p class="mb2">
          We Are Hiring no se responsabiliza de los daños o perjuicios de cualquier tipo producidos en el Usuario que traigan causa de fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del servicio del Portal durante la prestación del mismo o con carácter previo.        
        </p>
      </div>
    </div> 
    <div class="columns">
      <div class="column">
        <h3 class="mb3">4.4 DE LOS CONTENIDOS Y SERVICIOS ENLAZADOS A TRAVÉS DEL PORTAL</h3>
        <p class="mb2">
          El servicio de acceso al Portal incluye dispositivos técnicos de enlace, directorios e incluso instrumentos de búsqueda que permiten al Usuario acceder a otras páginas y portales de Internet (en adelante, 'Sitios Enlazados').        
        </p>
        <p class="mb2">
          En estos casos, We Are Hiring actúa como prestador de servicios de intermediación de conformidad con el artículo 17 de la Ley 34/2002, de 12 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico ('LSSI') y sólo será responsable de los contenidos y servicios suministrados en los Sitios Enlazados en la medida en que tenga conocimiento efectivo de la ilicitud y no haya desactivado el enlace con la diligencia debida. En el supuesto de que el Usuario considere que existe un Sitio Enlazado con contenidos ilícitos o inadecuados podrá comunicárselo a We Are Hiring de acuerdo con el procedimiento y los efectos establecidos en la cláusula 6, sin que en ningún caso esta comunicación conlleve la obligación de retirar el correspondiente enlace.        
        </p>
        <p class="mb2">
          En ningún caso, la existencia de Sitios Enlazados debe presuponer la existencia de acuerdos con los responsables o titulares de los mismos, ni la recomendación, promoción o identificación de We Are Hiring con las manifestaciones, contenidos o servicios proveídas.
        </p>
        <p class="mb2">
          We Are Hiring no conoce los contenidos y servicios de los Sitios Enlazados y por tanto no se hace responsable por los daños producidos por la ilicitud, calidad, desactualización, indisponibilidad, error e inutilidad de los contenidos y/o servicios de los Sitios Enlazados ni por cualquier otro daño que no sea directamente imputable a We Are Hiring.        
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="mb3">5. PROTECCIÓN DE DATOS PERSONALES</h3>
        <p class="mb2">
          Para más información sobre el tratamiento de sus datos personales en el Portal diríjase a la Política de Privacidad.
        </p>
      </div>
    </div>        
    <div class="columns">
      <div class="column">
        <h3 class="mb3">6. COMUNICACIÓN DE ACTIVIDADES DE CARÁCTER ILÍCITO E INADECUADO</h3>
        <p class="mb2">
          En el caso de que el Usuario o cualquier otro usuario de Internet tuviera conocimiento de que los Sitios Enlazados remiten a páginas cuyos contenidos o servicios son ilícitos, nocivos, denigrantes, violentos o contrarios a la moral podrá ponerse en contacto con We Are Hiring indicando los siguientes extremos:        
        </p>
        <p class="mb2">     
          a) Datos personales del comunicante: nombre, dirección, número de teléfono y dirección de correo electrónico;
        </p>
        <p class="mb2">
          b) Descripción de los hechos que revelan el carácter ilícito o inadecuado del Sitio Enlazado;
        </p>
        <p class="mb2">
          c) En el supuesto de violación de derechos, tales como propiedad intelectual e industrial, los datos personales del titular del derecho infringido cuando sea persona distinta del comunicante. Asimismo deberá aportar el título que acredite la legitimación del titular de los derechos y, en su caso, el de representación para actuar por cuenta del titular cuando sea persona distinta del comunicante;
        </p>
        <p class="mb2">
          d) Declaración expresa de que la información contenida en la reclamación es exacta.
        </p>
        <p class="mb2">
          La recepción por parte de We Are Hiring de la comunicación prevista en esta cláusula no supondrá, según lo dispuesto en la LSSI, el conocimiento efectivo de las actividades y/o contenidos indicados por el comunicante.
        </p>
        <p class="mb2">
          Asimismo deberá aportar el título que acredite la legitimación del titular de los derechos y, en su caso, el de representación para actuar por cuenta del titular cuando sea persona distinta del comunicante.
        </p>
      </div>
    </div> 
    <div class="columns">
      <div class="column">
        <h3 class="mb3">7. LEGISLACIÓN</h3>
        <p class="mb2">
          El presente Aviso Legal se rige en todos y cada uno de sus extremos por la ley española.        
        </p>
      </div>
    </div>       
  </div>
</section>