<section class="section legal_notes">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="mb3">Política de Privacidad</h1>
        <p class="mb2">
          <span>EMPRESA We Are Hiring. Nombre comercial We Are Hiring.</span>
        </p>
        <p class="mb2">
          <span class="c40">Política de Privacidad</span>
        </p>
        <p class="mb2">
          <span class="c65">Mayo 2020</span>
        </p>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column">  
        <h1 class="mb3"> POLÍTICA DE PRIVACIDAD </h1>
      </div>
    </div>
    <p class="mb2">
      <span> We Are Hiring tratará tus datos personales para gestionar tu candidatura y para remitirte, información y comunicaciones comerciales sobre nuestros productos y servicios. Tus datos se comunicarán a la Entidad publicitada. </span>
    </p>
    <h3 class="mb3">Tratamiento de datos personales</h3>
    <p class="mb2">
      <span class="c6">De conformidad con lo establecido en Reglamento (UE) 2016/679 General de Protección de Datos (en
        adelante, “</span>
      <span class="c15">RGPD</span>
      <span class="c6">”) y la Ley Orgánica 3/2018 de Protección de Datos Personales y Garantía de los Derechos Digitales
        (en adelante, “</span>
      <span class="c15">LOPDGDD</span>
      <span class="c6">”), le informamos de que todos los datos personales que el Usuario facilite a través del Sitio Web
        “</span>
      <span class="c4">www.wearehiring.com</span>
      <span class="c6">” (en adelante, el “</span>
      <span class="c15">Sitio Web</span>
      <span class="c6">”) serán incorporados y tratados en los ficheros y sistemas de tratamiento titularidad de la compañía
      </span>
      <span class="c4 c30">WE ARE HIRING</span>
      <span class="c6">, (en adelante, “</span>
      <span class="c15">WE ARE HIRING</span>
      <span>”) con la finalidad de poder atender sus solicitudes y poder mantenerle informado, incluso por medios
        electrónicos, sobre nuestros servicios y ofertas laborales.</span>
    </p>
    <p class="mb2">
      <span class="c6">La cumplimentación de todos los datos solicitados a través del Sitio Web y </span>
      <span class="c6">APP</span>

      <span> es necesaria para lograr una óptima prestación de los servicios puestos a disposición del Usuario.
        De no facilitarse todos los datos requeridos por WE ARE HIRING no se garantiza que la información y servicios
        facilitados puedan prestarse, se presten correctamente o se ajusten a las necesidades del Usuario.</span>
    </p>
    <p class="mb2">

      <span>El término Usuario/s se emplea aquí para referirse a todas las personas que accedan al Sitio Web.
      </span>
    </p>
    <p class="mb2">
      <span>Información detallada sobre protección de datos personales</span>
    </p>
    <ol class="c7 lst-kix_list_24-0 start" start="1">
      <li class="c1 c2">
        <h3 class="mb3">Responsable del tratamiento</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c6">El responsable del tratamiento de los datos del Usuario es Pol Gasull Navarro </span>
      <span class="c4 c30">con DNI 47178207D</span>
      <span class="c6 c47">, domicilio social en Carrer del Pare Laínez, 7 </span>
      <span class="c4">bajo el nombre comercial de WE ARE HIRING.</span>
    </p>
    <p class="mb2">
      <span class="c6">Para cualquier cuestión, duda o aclaración relacionada con la presente Política de Privacidad o con
        el tratamiento de datos que WE ARE HIRING realiza, puede ponerse en contacto con nosotros a través de la dirección
        de correo </span>
      <span class="c6">electrónico</span>
      <span> </span>
      <span class="c4">(*)</span>
      <span>.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="2">
      <li class="c1 c2">
        <h3 class="mb3">Información general: descripción de la información contenida en la política de
          privacidad</h3></li>
    </ol>
    <p class="mb2">
      <span>En la presente política de privacidad encontrará una tabla identificando, por cada uno de los
        diferentes tratamientos de datos realizados por WE ARE HIRING, la siguiente información:</span>
    </p>
    <ol class="c7 lst-kix_list_20-0 start" start="1">
      <li class="c24 c22">
        <span>Las finalidades del tratamiento de sus datos personales, esto es, el motivo por el cual WE ARE
          HIRING trata sus datos personales.</span></li>
      <li class="c13 c22">
        <span>Las bases legales que permiten el tratamiento de sus datos por parte de WE ARE HIRING para cada una
          de las finalidades indicadas.</span></li>
      <li class="c13 c22">
        <span>La posible comunicación de sus datos a terceros, así como la causa de dicha comunicación. </span>
      </li>
    </ol>
    <p class="c13">
      <span>A estos efectos, le informamos que puede ver en la tabla de tratamientos las comunicaciones que
        realizamos. Por otra parte, podrán tener acceso a sus datos personales los encargados del tratamiento de WE ARE
        HIRING, es decir, los prestadores de servicios que tengan que acceder a sus datos personales para el desarrollo de
        sus funciones. Los prestadores de servicios que acceden a sus datos personales, con carácter general, se dedican a
        los sectores de sistemas de información y tecnología. En la tabla que figura a continuación se indicarán, en su
        caso, aquellos otros sectores a los que se dediquen otros posibles prestadores de servicios de WE ARE HIRING que
        deban acceder a sus datos personales.</span>
    </p>
    <ol class="c7 lst-kix_list_20-0 mb2" start="4">
      <li class="c13 c22">
        <span>Le informamos de que puede solicitar mayor detalle de información respecto de los destinatarios de
          sus datos enviando un correo electrónico a la dirección </span>
        <span class=" c57">(*)</span>
        <span>, indicando el tratamiento concreto sobre cuyos destinatarios querría información.</span></li>
      <li class="c13 c22">
        <span>La existencia de potenciales transferencias internacionales de datos. En caso de que quisiera
          solicitar una copia de las cláusulas contractuales referidas en la tabla abajo indicada, por favor, póngase en
          contacto con WE ARE HIRING en el siguiente email para cursar su petición: </span>
        <span class=" c57">(*)</span>
        <span>.</span></li>
      <li class="c13 c22">
        <span>El plazo de conservación de los datos que nos facilite. Asimismo, le informamos de que sus datos
          permanecerán bloqueados para la atención de reclamaciones judiciales, administrativas o fiscales, durante los
          plazos que resulten de la legislación aplicable.</span>
      </li>
    </ol>
    <ol class="c7 lst-kix_list_24-0" start="3">
      <li class="mb2 c2">
        <h3 class="mb3">Información detallada de los tratamientos.</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>El Usuario podrá proporcionarnos, de forma voluntaria, información de carácter personal, bien, a
        través de determinados formularios de recogida de datos (incluidos en la web y la App y mediante las direcciones de
        correo electrónico habilitadas a tal efecto. </span>
    </p>
    <p class="mb2">
      <span>El tratamiento alcanza las siguientes finalidades y características:</span>
    </p><a id="t.dbd1b33fb42e4c9ed60a13204b0225d1e5b85479"></a><a id="t.0"></a>
    <table class="c56">
      <tbody>
        <tr>
          <td class="c16 c53" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c8">Finalidades</span>
            </p>
          </td>
          <td class="c3 c53" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c8">Base de legitimación</span>
            </p>
          </td>
          <td class="c31 c53" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c8">Comunicación de Datos</span>
            </p>
          </td>
          <td class="c29 c53" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c8">Periodo de Retención</span>
            </p>
          </td>
          <td class="c36 c53" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c8">Procedencia</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c18" colspan="6" rowspan="1">
            <p class="mb2">
              <span class="c8">Datos de los representantes de los Anunciantes</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="c12">
              <span>Datos de contactos de Clientes para la gestión de la relación comercial y contractual</span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c12">
              <span>Relación comercial o contractual </span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="c12">
              <span>No se cederán sus datos salvo a Administraciones Públicas, Tribunales y Fuerzas y cuerpos de
                seguridad del Estado, cuando corresponda.</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="c12">
              <span>6 años tras finalizar la relación comercial</span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="c12">
              <span>Del propio Interesado a través del Sitio Web o contrato.</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c18" colspan="6" rowspan="1">
            <p class="mb2">
              <span class="c8">Datos de los Usuarios/Candidatos</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c6">Gestionar las consultas</span>
              <span> </span>
              <span>planteadas a través del Portal, enviando un correo electrónico o a través de Redes
                Sociales.</span>
            </p>
            <p class="c1 ">
              <span></span>
            </p>
            <p class="c12 ">
              <span></span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c41">
              <span>Interés legítimo para atender a los requerimientos de información a través de la Web o correo
                electrónico</span>
            </p>
            <p class="c12 ">
              <span></span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="mb2">
              <span>Se podrá comunicar los datos a los colaboradores necesarios (como el anunciante) para llevar
                a cabo la finalidad.</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="mb2">
              <span>Hasta la resolución de su solicitud de información.</span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="mb2">
              <span> Del propio Interesado a través del Sitio Web</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="c41">
              <span>Alta en el Sitio Web y Gestión los leads de las ofertas en la que se ha inscrito el
                candidato</span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c41">
              <span>Consentimiento</span>
            </p>
            <p class=" c58">
              <span></span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="mb2">
              <span>Se comunicarán los leads a los colaboradores necesarios y anunciantes para llevar a cabo la
                finalidad.</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="mb2">
              <span class="c4">1 año</span>
              <span> </span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="mb2">
              <span>A través del perfil de Linkedin del propio Interesado </span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="c12">
              <span>Actividades de publicidad (incluido encuestas de opinión o satisfacción) por medios
                electrónicos de productos y servicios de terceras entidades relacionadas con el sector del empleo.</span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c12">
              <span>Consentimiento y/o ejecución contractual</span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="c12">
              <span>Colaboradores necesarios para llevar a cabo la finalidad</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="c12">
              <span>6 años en caso de haber una relación comercial, de lo contrario, hasta que se revoque el
                consentimiento otorgado. </span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="c12">
              <span>Del propio Interesado a través del Sitio Web</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="c12">
              <span>Labores de segmentación. Podrán realizarse la segmentación con la finalidad de dirigir los
                contenidos y ofertas de trabajo, así como la publicidad a remitir. En ningún caso la segmentación o
                elaboración de perfiles que realizará la Empresa tendrá efectos jurídicos o significativos en el
                interesado.</span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c12">
              <span>Consentimiento y/o ejecución contractual</span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="c12">
              <span>Colaboradores necesarios para llevar a cabo la finalidad</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="c12">
              <span>2 años en caso de haber una relación comercial, de lo contrario, hasta que se revoque el
                consentimiento otorgado.</span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="c12">
              <span>Del propio Interesado a través del Sitio Web</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="c12">
              <span>Análisis estadísticos de visitas a la Web y comportamientos de sus usuarios en la
                misma.</span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c12">
              <span>Consentimiento</span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="c12">
              <span>Colaboradores necesarios para llevar a cabo la finalidad.</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="c12">
              <span>Durante el tiempo que aún no esté obsoleto por una nueva actualización.</span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="c12">
              <span>Del propio Interesado a través del Sitio Web</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="c16" colspan="1" rowspan="1">
            <p class="c12">
              <span>Gestionar adecuadamente la navegación a través del presente Sitio Web.</span>
            </p>
          </td>
          <td class="c3" colspan="1" rowspan="1">
            <p class="c12">
              <span>Consentimiento </span>
            </p>
          </td>
          <td class="c31" colspan="1" rowspan="1">
            <p class="c12">
              <span>Colaboradores necesarios para llevar a cabo la finalidad.</span>
            </p>
          </td>
          <td class="c29" colspan="1" rowspan="1">
            <p class="c12">
              <span>Durante el tiempo que aún no esté obsoleto por una nueva actualización.</span>
            </p>
          </td>
          <td class="c36" colspan="1" rowspan="1">
            <p class="c12">
              <span>Del propio Interesado a través del Sitio Web</span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <ol class="c7 lst-kix_list_24-0" start="4">
      <li class="c1 c2">
        <h3 class="mb3">Categoría de Datos </span>
      </li>
    </ol>
    <p class="mb2">
      <span>Atendiendo a las finalidades antes mencionadas, la Entidad trata las siguientes categorías de
        datos:</span>
    </p>
    <ul class="c7 lst-kix_list_15-0 start">
      <li class="c22 c24">
        <span class="c5">Datos identificativos de los candidatos: nombre, apellidos, fotografía, dirección de correo
          electrónico, URL de LinkedIn, país de residencia y puesto actual laboral. </span></li>
      <li class="mb2 c22 c45">
        <span>A través de las </span>
        <span class="c9">cookies</span>
        <span> recogemos determinada información vinculada a tu navegación. Su tratamiento y finalidades está
          explicado en nuestra </span>
        <span class="c25 c15 c43 c54">política de </span>
        <span class="c25 c54 c15 c43">cookies</span>
        <span>.</span></li>
    </ul>
    <p class="mb2">
      <span class="c6 c59">Respecto a las consultas realizadas mediante el formulario disponible en la página “</span>
      <span class="c6 c59 c46">CONTACTO</span>
      <span class="c5">”, se permite explicar brevemente el motivo de la consulta. Tenga en cuenta que allí no pueden
        responderse consultas personales salvo las estrictamente establecidas por la legislación vigente. En ninguna
        circunstancia se comunicarán datos de categorías especiales (como, por ejemplo, datos de salud, religión, etc.). En
        caso de hacerlo, el Usuario exime de total responsabilidad a WE ARE HIRING. En el caso que se remitan consultas o
        contenidos inadecuados WE ARE HIRING procederá a su eliminación.</span>
    </p>
    <p class="mb2">
      <span>Al facilitarnos sus datos por correo electrónico, formularios on-line u off-line o por cualquier otro
        medio, el Usuario garantiza que éstos son verdaderos, exactos, completos y actualizados, responsabilizándose de
        cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal
        obligación. En caso de que facilite a WE ARE HIRING datos de terceros, el Usuario debe contar con el consentimiento
        de los mismos y comprometerse a trasladarles la información contenida en esta cláusula, eximiendo a WE ARE HIRING de
        cualquier responsabilidad en este sentido. No obstante, WE ARE HIRING podrá llevar a cabo las verificaciones para
        constatar este hecho, adoptando las medidas de diligencia debida que correspondan, conforme a la normativa de
        protección de datos.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="5">
      <li class="c1 c2">
        <h3 class="mb3">Cesión de Derechos de Imagen</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c6">De conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el
        RGPD, LOPDGDD y la Ley Orgánica 1/1982 de protección civil, derecho al honor, intimidad personal y familiar y a la
        propia imagen, le informamos que utilizaremos su imagen para cederla al anunciante con la finalidad de valorar su
        candidatura. El registro a la oferta de empleo publicada conlleva que el Usuario/Candidato otorga su consentimiento
        para ello. En ningún caso se utilizará para hacer publicidad u otras acciones promocionales. Su imagen se conservará
        junto a su lead </span>
      <span class="c6">durante un año</span>
      <span>, procediendo a su destrucción transcurrido dicho periodo, salvo que deban conservarse debidamente
        bloqueados, adoptando las medidas técnicas y organizativas para impedir su tratamiento incluyendo su visualización,
        mientras puedan derivarse responsabilidades de la ejecución de la prestación. </span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="6">
      <li class="c1 c2">
        <h3 class="mb3">Menores de Edad</h3>
      </li>
    </ol>
    <p class="c32">
      <span>Los menores de edad no podrán usar los servicios disponibles a través del Sitio Web sin la previa
        autorización de sus padres, madres, tutores o representantes legales, quienes serán los únicos responsables de todos
        los actos realizados a través del Sitio Web por los menores a su cargo, incluyendo la cumplimentación de los
        formularios con los datos personales de dichos menores y la marcación, en su caso, de las casillas que los
        acompañan.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="7">
      <li class="c1 c2">
        <h3 class="mb3">Destinatarios</h3>
      </li>
    </ol>
    <p class="c52">
      <span>Si el usuario está interesado en la oferta laboral publicada, el destinatario será la empresa
        anunciante. La finalidad de la comunicación es que pueda ponerse en contacto con el candidato para informarle con
        más detalle sobre el puesto de trabajo publicado.</span>
    </p>
    <p class="c52">
      <span><br>También tendrán acceso determinadas empresas prestadoras de servicios en calidad de encargadas
        del tratamiento. Estos proveedores sólo podrán acceder a los datos con el único objeto de prestar el servicio
        contratado, siguiendo las instrucciones de la Empresa y sin que puedan destinarlos para ninguna otra finalidad.
        Todos los proveedores suscriben compromisos de confidencialidad en el uso de la información a la que acceden por su
        servicio de conformidad con la normativa vigente, así como contratos de tratamiento de datos personales, en su
        caso.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="8">
      <li class="c1 c2">
        <h3 class="mb3">Ejercicio de derechos</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>El Usuario podrá ejercer los siguientes derechos, previstos en el RGPD, en relación al tratamiento de
        sus datos personales:</span>
    </p>
    <ul class="c7 lst-kix_list_2-0 start">
      <li class="c24 c22">
        <span>Derecho a solicitar el acceso a los datos personales relativos al interesado.</span></li>
      <li class="c13 c22">
        <span>Derecho a solicitar su rectificación</span></li>
      <li class="c13 c22">
        <span>Derecho a solicitar su supresión.</span></li>
      <li class="c13 c22">
        <span>Derecho a solicitar la limitación de su tratamiento.</span></li>
      <li class="c13 c22">
        <span>Derecho a oponerse al tratamiento.</span></li>
      <li class="c13 c22">
        <span>Derecho a la portabilidad de los datos.</span></li>
      <li class="c13 c22">
        <span>Derecho a no ser objeto de decisiones individuales automatizadas.</span></li>
    </ul>
    <p class="c13 ">
      <span></span>
    </p>
    <p class="mb2">
      <span class="c6">Tales derechos podrán ser ejercidos mediante una comunicación escrita dirigida a </span>
      <span class="c4">WE ARE HIRING</span>
      <span class="c6">, </span>
      <span class="c6 c47">calle </span>
      <span class="c4">(*)</span>
      <span class="c6 c47"> o por e-mail a la dirección</span>
      <span> </span>
      <span class="c4">(*)</span>
      <span class="c6 c47">. </span>
      <span>En ambos casos el Usuario interesado deberá acompañar una copia de su documento nacional de
        identidad, pasaporte u otro documento válido que lo identifique en el caso que WE ARE HIRING considere necesaria su
        identificación. WE ARE HIRING procederá a enviarle una comunicación dentro del plazo de un mes desde la recepción de
        la solicitud, juntamente, en su caso, con otras informaciones que puedan ser relevantes para resolver la solicitud.
        Asimismo, podrá presentar una reclamación ante la Agencia Española de Protección de Datos si lo estima
        oportuno.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="9">
      <li class="c1 c2">
        <h3 class="mb3">Medidas y niveles de seguridad</h3>
      </li>
    </ol>
    <p class="c58">
      <span>WE ARE HIRING adopta los niveles de seguridad requeridos por el RGPD adecuados a la naturaleza de los
        datos que son objeto de tratamiento en cada momento. No obstante lo anterior, la seguridad técnica en un medio como
        Internet no es inexpugnable y pueden existir actuaciones dolosas de terceros, si bien WE ARE HIRING pone todos los
        medios a su alcance para evitar dichas actuaciones.</span>
    </p>
    <p class=" c41">
      <span></span>
    </p>
    <p class="c32">
      <span>Asimismo, en WE ARE HIRING adoptamos todas las medidas para garantizar el uso correcto de los datos
        personales de los que somos responsables por parte de terceros a quienes se los hayamos tenido que facilitar. Por
        tal motivo le solicitamos que, en caso de que tenga conocimiento o sospecha de que cualquiera de nuestros clientes o
        proveedores, indicados en la sección “Destinatarios”, está haciendo un uso indebido de su información personal, nos
        lo notifique sin dilación para poder adoptar las acciones pertinentes que proceda llevar a cabo.</span>
    </p>
    <p class="c32">
      <span>Asimismo, para garantizar que los datos que tenemos son correctos y se encuentran actualizados, le
        rogamos que, si se produce alguna modificación en sus datos, o si, por cualquier motivo, detecta que tenemos algún
        dato suyo incorrecto, nos lo comunique a la mayor brevedad para proceder a la oportuna subsanación.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="10">
      <li class="c1 c2">
        <h3 class="mb3">Transferencia internacional de datos</h3>
        </li>
    </ol>
    <p class="mb2">
      <span>No cedemos los datos personales del Usuario a terceros fuera del Espacio Económico Europeo. En el
        caso de realizarse transferencias internacionales de datos, se tomarán todas las medidas técnicas y organizativas
        adecuadas para garantizar la seguridad de los datos.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="11">
      <li class="c1 c2">
        <h3 class="mb3">Ámbito de aplicación</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>La estructura de ficheros, equipos y sistemas de información con el objeto de dar cumplimiento a la
        legislación vigente en materia de protección de datos, se aplicarán a todos los ficheros, temporales o permanentes,
        titularidad de WE ARE HIRING que contengan datos de carácter personal, así como a cualquier equipo o sistema de
        información que los trate.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="12">
      <li class="c1 c2" id="h.1fob9te">
        <h3 class="mb3">Consentimiento del Usuario</h3>
      </li>
    </ol>
    <p class="c41">
      <span>El Usuario manifiesta haber leído y aceptado expresamente la presente Política de Privacidad al
        registrarse en WE ARE HIRING, otorgando su consentimiento inequívoco y expreso a WE ARE HIRING, al tratamiento de
        los datos de acuerdo con las finalidades y servicios aquí reflejados.</span>
    </p>
    <p class="mb2">
      <span>En el caso de que el Usuario facilite a WE ARE HIRING datos personales de terceros, el Usuario
        declara que dichos datos son veraces y que ha informado y ha solicitado el consentimiento a estos terceros, cuyos
        datos nos facilita, de que sus datos personales serán tratados por WE ARE HIRING en los mismos términos que el
        Usuario ha sido informado y prestado su consentimiento en la presente política de privacidad. El Usuario se obliga a
        mantener indemne a WE ARE HIRING ante cualquier posible reclamación, multa o sanción que pueda venir obligada a
        soportar como consecuencia del incumplimiento por parte del Usuario del deber descrito en este párrafo.</span>
    </p>
    <p class="mb2">
      <span>Todos los campos que aparezcan señalados con un asterisco (*) en los formularios de la Web serán de
        obligada cumplimentación, de tal modo que la omisión de alguno de ellos podría comportar la imposibilidad de que se
        le puedan facilitar los servicios o información solicitados.</span>
    </p>
    <p class="mb2">
      <span>Asimismo, al hacer “click” en el botón “Acepto o Enviar” (o equivalente) incorporado en los citados
        formularios, declara que la información y los datos que en ellos ha facilitado son exactos y veraces.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="13">
      <li class="c1 c2">
        <h3 class="mb3">Información comercial y promocional</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>Si el Usuario nos ha autorizado a ello, los datos de carácter personal que nos facilite mediante este
        formulario serán objeto de tratamiento por parte de WE ARE HIRING, con el objetivo de notificarle contenidos
        empresariales y comunicaciones comerciales de WE ARE HIRING. El Usuario podrá retirar en todo momento el
        consentimiento otorgado.</span>
    </p>
    <p class="c32">
      <span class="c6">Para poder revocar el consentimiento otorgado, puede ponerse en contacto a la dirección de correo
        electrónico </span>
      <span class="c4">(*)</span>
      <span class="c6">, especificando sobre qué tipo de tratamiento desea revocar su consentimiento. Las finalidades están
        expuestas en el cuadro indicado anteriormente en el apartado “Finalidad” de la sección </span>
      <span class="c6 c46">“Información detallada de los tratamientos” </span>
      <span> por lo que puede hacer mención sobre cualquiera de las finalidades indicadas para indicar respecto a
        qué tratamientos decide no prestar más su consentimiento.</span>
    </p>
    <p class="c32">
      <span>Si desea que la empresa anunciante deje de enviarle publicidad y prospecciones comerciales, al pie de
        cada correo electrónico el Anunciante debería indicar de qué modo puede Ud. darse de baja de sus comunicaciones. No
        obstante, también puede acudir a la Política de Privacidad de la empresa anunciante correspondiente para obtener más
        información sobre cómo ejercitar sus derechos.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="14">
      <li class="c1 c2" id="h.3znysh7">
        <h3 class="mb3">Redes Sociales</h3>
      </li>
    </ol>
    <p class="mb2">
      <span class="c6">WE ARE HIRING está presente en </span>
      <span class="c4">LinkedIn </span>
      <span>sin perjuicio de que pueda utilizar otras en el futuro, con la finalidad de dar mayor alcance y
        visibilidad a WE ARE HIRING y a nuestros servicios, promociones, eventos, etc. En caso de que los seguidores de
        nuestros perfiles se pongan en contacto con WE ARE HIRING a través de dichas redes o publiquen imágenes o
        información en nuestro perfil que contenga datos de carácter personal, será exclusiva responsabilidad del Usuario
        y/o seguidor, quedando WE ARE HIRING exento de toda responsabilidad en cuenta al contenido que el Usuario y el
        seguidor incorpore en nuestros perfiles públicos. Debido a que el perfil de WE ARE HIRING en las redes sociales es
        público, WE ARE HIRING no es responsable de ninguna acción directa o indirecta realizada por terceros derivada de la
        publicación del Usuario de sus datos personales en nuestros perfiles. Por ello, le pedimos encarecidamente que no
        comparta información de carácter personal ni sensible y que lea atentamente las Políticas de Privacidad y Términos y
        Condiciones de dichas plataformas sociales para configurar su perfil con el grado de privacidad que desee.
        Cualquiera que no desee seguir siendo seguidor de WE ARE HIRING en las redes sociales en las que está presente,
        puede dejar de seguir dicho perfil según lo dispuesto en los Términos y Condiciones de la plataforma social
        correspondiente. </span>
    </p>
    <p class="mb2">
      <span>WE ARE HIRING podrá contactar con el usuario que haya realizado un lead sobre una oferta a través de
        las redes sociales.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="15">
      <li class="c1 c2">
        <h3 class="mb3">Confidencialidad y secreto profesional</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>Los datos recogidos en todas las comunicaciones privadas entre WE ARE HIRING y los clientes o
        Usuarios serán tratados con absoluta confidencialidad, comprometiéndose WE ARE HIRING a la obligación de secreto de
        los datos de carácter personal, a su deber de guardarlos y adoptar todas las medidas necesarias que eviten su
        alteración, pérdida y tratamiento o acceso no autorizado, de acuerdo con lo establecido en la normativa de
        protección de datos aplicable.</span>
    </p>
    <p class="mb2">
      <span>Además, también tendrá la condición de confidencial la información de cualquier tipo que las partes
        intercambien entre sí, aquella que estas acuerden que tiene tal naturaleza, o la que simplemente verse sobre el
        contenido de dicha información. La visualización de datos a través de Internet no supondrá el acceso directo a los
        mismos, salvo consentimiento expreso de su titular para cada ocasión.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="16">
      <li class="c1 c2">
        <h3 class="mb3">Cambios en la política de seguridad y de protección de datos</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>WE ARE HIRING se reserva el derecho de modificar su política de seguridad y protección de datos con
        el objeto de adaptarlo a las novedades legislativas o jurisprudenciales, así como las que pudieran derivarse de
        códigos tipo existentes en la materia, o por decisiones corporativas estratégicas, con efectos de la fecha de
        publicación de dicha modificación en la Sitio Web de WE ARE HIRING.</span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="17">
      <li class="c1 c2">
        <h3 class="mb3">Enlaces a otros sitios web</h3>
      </li>
    </ol>
    <p class="mb2">
      <span>Con relación a los enlaces o vínculos que con otros portales o páginas web, no gestionadas por WE ARE
        HIRING puedan aparecer en el portal a título informativo, WE ARE HIRING no ejerce ningún control sobre los mismos,
        ni responde de la información a la que se acceda. Salvo que WE ARE HIRING así lo hubiera autorizado de forma previa
        y por escrito, no se podrá insertar un link, hyperlink, framing o vínculo similar en el Sitio Web.</span>
    </p>
    <p class="mb2">
      <span class="c6">En el caso de seguirnos en redes sociales como </span>
      <span class="c4"> LinkedIn</span>
      <span>, revise sus políticas de privacidad para informarse de cómo se utilizan y comparten sus datos
        personales, ya que WE ARE HIRING tampoco ejerce ningún control sobre los mismos ni responde de la información a la
        que se accede. </span>
    </p>
    <ol class="c7 lst-kix_list_24-0" start="18">
      <li class="c1 c2">
        <h3 class="mb3">Cookies</h3>
      </li>
    </ol>
    <p class="c52">
      <span>El acceso a esta web puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de
        información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta
        información que posteriormente pueda utilizar. Esta información permite identificarle a usted como un usuario
        concreto y permite guardar sus preferencias personales, así como información técnica como puedan ser visitas o
        páginas concretas que visite.</span>
    </p>
    <p class="mb2">
      <span>Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en
        su ordenador, pueden configurar su navegador a tal efecto. Para más información consulte nuestra “</span>
      <span>Política de Cookies</span>
    </p>
  </div>
</section>