.header {
	z-index: 10;

	.navbar-brand {
		display: flex;
		align-items: center;

		a {
			height: 79px;
		}

    .navbar-mobile-open-menu {
      margin-left: auto;
    }
	}

	.button {
		text-transform: capitalize;
	}

	nav.navbar {
		background: none;
	}

	a {
		color: $black;

		&.dropdown-item {
			color: $black;
		}
	}

	img {
		height: 75px;
		width: 75px;
		max-width: 75px;
	}
	
	.navbar-burger span {
		color: $black;
		height: 2px;
	}

	.dropdown .dropdown-content:hover {
		background: whitesmoke;
	}

  .dropdown .button {
    border: none;
  }
}

.header.signed-header {
	background-color: $secondary;
	
	.navbar {
		height: 65px;
	}

	.navbar-brand {
		a {
			height: 65px;
		}
	}

	img {
		height: 60px;
		width: 60px;
		max-width: 65px;
	}

	.navbar-item {
		color: $white;
		padding: 2px 10px;
	}

	.navbar-item:hover {
		color: $red;
	}

	.navbar-item:focus {
		background: none;
	}

	a.navbar-item.active {
		color: $red;
		-webkit-font-smoothing: antialiased;
	}

	.button.is-dark {
		-webkit-font-smoothing: antialiased;
		background-color: $red;
	}

	.button.is-dark:hover {
		background-color: darken($red, 10%);
	}

	.dropdown button {
		background: none;
		border: none;

		span {
			color: $white;
		}
	}

	.dropdown button:hover {

		span {
			color: $red;
		}
	}

	.navbar-burger span {
		color: $white;
		height: 2px;
	}
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-letter {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
