.header {

	width:100%;
	position: fixed;
	top: 0;
	padding: 1rem;
	z-index: 10;

	@media (max-width: 992px) {
		padding: 1.5rem 1rem 1.5rem 1rem;

		.column {
			padding: 0;
		}

		.columns {
			margin: 0;
		}
	}

	&.bg-primary {
		background: $primary;
		color: $white;
	}

	.button {
		text-transform: capitalize;
	}


	nav.navbar {
		float: right;
		background: none;
		font-size: 0.75rem;

		.button:first-of-type {
			margin-right: 25px;
		}
	}

	nav li {
		display: inline-block;
	}

	a {
		color: $white;

		&.dropdown-item {
			color: $black;
		}
	}

	.i {
		display: none;
	}

	.btn {

		width: 9.375rem;
		display: inline-block;
		font-size: 0.75rem;
		top: 3px;
		margin-left: 1rem;
		-webkit-font-smoothing: auto;

		&.btn-white:hover {
			color: $primary;
		}
	}

	img {

		max-width: 170px;
	}

	.logo {
		position: relative;
		top: 7px;

		@media(max-width: 768px) {
			top: 2px;
		}

		@media(min-width: 768px) and (max-width: 992px) {
			top: 2px;
		}

		@media (max-width: 500px) {
			left: 24px;
		}
	}
}

.claim-header {

	position: relative;

	.navbar-item {
		color: $red;
	}
}
