.header {
	z-index: 10;

	.navbar-brand {
		display: flex;
		align-items: center;

		a {
			height: 79px;
		}
	}

	.navbar-item {
		color: $black;
	}

	.button {
		text-transform: capitalize;
	}

	nav.navbar {
		background: none;
	}

	a {
		color: $white;

		&.dropdown-item {
			color: $black;
		}
	}

	img {
		max-width: 170px;
	}

	.logo {
		position: relative;
		top: 7px;
	
		@media(max-width: 992px) {
			top: 5px;
			left: 10px
		}
	}
	
	.navbar-burger span {
		color: black;
		height: 2px;
	}
}
