<section class="section main-section">
  <div class="container">
    <div class="columns">
      <div class="column mt2">
        <h2 class="title is-2"> <%= t('my_inscriptions') %> </h2>

        <span><b> <%= t('you_have_inscribed') %> <%= @inscriptions_count %> Jobs </b></span>
      </div>
    </div>

    <%= render @inscriptions %>
  </div>
</section>