$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$dark: #363636;
$primary: #cc0022;
$secondary:rgba(29,29,29,1);
$default-space: 30px;
$grey: rgba(78,83,88,1);
$light_grey: #EAEBEC;
$body_grey: #f7f7f7;
$footer_color: #4B4B4B;
$text_footer: #B9BEC3;
$light_gray: #f5f5f5;
$green: #04D1B2;
$red: #cc0022;
$yellow: #ffdd57;
$success: #48c78e;
$blue: #3e8ed0;
$danger: #f14668;
$gold: #FFD700
