<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Términos y condiciones</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      We Are Hiring tratará tus datos personales para gestionar tu candidatura y para remitirte, información y comunicaciones comerciales sobre nuestros productos y servicios. Tus datos se comunicarán a la Entidad publicitada. Tienes derecho a acceder, rectificar y suprimir los datos, así como a otros derechos, como se explica en nuestra <%= link_to 'política de privacidad', privacy_policy_path, target: '_blank' %>.
    </section>
    <footer class="modal-card-foot justify-center">
      <button class="button is-success accept-terms">Acepto</button>
    </footer>
  </div>
</div>