  <div class="is-light has-text-centered">
    <p class="f3">
      <%= icon('fas', 'rocket') %>
      <strong class="has-text-success"> GRATIS </strong>
    </p>
    <p class="has-text-centered">
      Es la primera. No te cobraremos nada.
    </p>
    <span class="block mb4"></span>
  </div>