.carousel .slider {
  outline: none;
}

.carousel {

  .slider-navigation-next,
  .slider-navigation-previous {
    background-color: $dark;

    svg {
      color: $white;
    }
  }
}

.slider-container {
  height: 250px;
  max-height: 250px;
  outline: none;

  .slider-item .card {
    height: 220px;
    max-height: 220px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .button.is-link {
    position: absolute;
    bottom: 15px;
    right: 30px;
  }

  span.inscribed-tag {
    position: absolute;
    bottom: 15px;
    left: 25px;
  }
}

.slider-navigation {
  outline: none;
}

#candidates-carousel {
  .slider-container {
    height: 290px;
    max-height: 290px;

    .slider-item .card {
      height: 250px;
      max-height: 250px;
      margin-right: 3px;
      margin-left: 3px;
    }
  }

  .slider-pagination {
    .slider-page {
      background: $red;
    }

    .slider-page.is-active {
      background: darken($red, 10%);
    }
  }

  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;

    input {
      bottom: 1rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}

#partners-carousel {
  .slider-item {
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;
  }
}