:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #48c774;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

.job-price-cards {
  .price-card {
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;
    
    &:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
  }
  
  .radio-card {
    font-size: inherit;
    margin: 0;
    position: absolute;
    left: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
  }
  
  @supports(-webkit-appearance: none) or (-moz-appearance: none) { 
    .radio-card {
      background: #fff;
      border: var(--radio-border-width) solid var(--color-gray);
      border-radius: 50%;
      height: var(--radio-size);
      outline: none;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      width: var(--radio-size); 
  
      &::after {
        border: var(--radio-border-width) solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 0.75rem;
        left: 20%;
        position: absolute;
        top: 50%;
        transform: 
          rotate(45deg)
          translate(-50%, -50%);
        width: 0.375rem;
      }
  
      &:checked {
        background: var(--color-green);
        border-color: var(--color-green);
      }
    }
    
    .price-card:hover .radio-card {
      border-color: var(--color-dark-gray);
      
      &:checked {
        border-color: var(--color-green);
      }
    }
  }
  
  .job-price-details {
    text-align: right;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;

    .fa-times-circle {
      color: $red;
    }
  }
  
  .price-card:hover .job-price-details {
    border-color: var(--color-dark-gray);
  }
  
  .radio-card:checked ~ .job-price-details {
    border-color: var(--color-green);
  }
  
  .radio-card:focus ~ .job-price-details {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
  }
  
  .radio-card:disabled ~ .job-price-details {
    color: var(--color-dark-gray);
    cursor: default;

    .fa-times-circle {
      color: var(--color-dark-gray);;
    }
  }
  
  .radio-card:disabled ~ .job-price-details .job-price-type {
    color: var(--color-dark-gray);
  }
  
  .price-card:hover .radio-card:disabled ~ .job-price-details {
    border-color: var(--color-gray);
    box-shadow: none;
  }
  
  .price-card:hover .radio-card:disabled {
    border-color: var(--color-gray);
  }
  
  .job-price-type {
    color: $dark;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;

    .fa-star {
      color: $gold;
    }
  }
  
  .job-price-cost {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }
}
