$heart: "\f004";
$openheart: "\f08a";

.button {
	font-weight: 400;

	&.shadow {
		box-shadow: 8px 6px 10px -6px #ccc;
	}

	&.with-border {
		border-color: #ccc;
	}

	&:hover {
		background-color: darken($white, 10%);
		color: $black;
	}

	&.primary {

		background-color: $primary;
		border-color: $primary;
		color: $white;

		&:hover {
			background-color: darken($primary, 10%);
		}
	}

	&.linkedin {
		background-color: #0072b1;
		border-color: #0072b1;
		color: $white;

		&:hover {
			background-color: darken(#0072b1, 20%);
		}
	}
}

.input {

	&.is-disabled {	
		color: transparent;
		background-color: $red;
	}
}

.switch[type=checkbox]:checked + label::before, 
.switch[type=checkbox]:checked + label:before {
	background-color: $primary;
}

.choice-collection {
	display: inline;

	input[type="radio"],
	input[type="checkbox"] {
		display: none;
	}

	label label {
		display: block;
		padding: 10px;
		margin: 15px;
		border: 1px solid #ccc;
		border-radius: 6px;
		cursor: pointer;

		&:hover {
			border: 1px solid $success;
			color: $success;
		}
	}

	input[type="radio"]:checked + label,
	input[type="checkbox"]:checked + label {
		background-color: $success;
		color: $white;
	}
}

.dot-notification {
	height: 12px;
	width: 12px;
	background-color: $primary;
	border-radius: 50%;
	display: inline-block;
}

.simple_form {

	span.error {
		display: block;
		padding: 5px 10px;
		color: $white;
		background-color: lighten($red, 10%);
		border-radius: 4px;
	}

	div.error_notification {
		padding: 5px 10px;
		color: $black; 
		background-color: $light_gray;
		border-radius: 4px;
	}
}
