$heart: "\f004";
$openheart: "\f08a";

.button {
	background-color: $white;
	border-color: $white;
	color: $black;
	font-weight: 400;

	&.shadow {
		box-shadow: 9px 9px 10px -8px rgba(163,160,163,1);
	}

	&:hover {
		background-color: darken($white, 10%);
		color: $black;
	}

	&.primary {

		background-color: $primary;
		border-color: $primary;
		color: $white;

		&:hover {
			background-color: darken($primary, 10%);
		}
	}

	&.linkedin {
		background-color: #0072b1;
		border-color: #0072b1;
		color: $white;

		&:hover {
			background-color: darken(#0072b1, 10%);
		}
	}
}

.input {

	&.is-disabled {	
		color: transparent;
		background-color: $red;
	}
}

.terms_checkbox {
	transform: scale(1.5);
}

.switch[type=checkbox]:checked + label::before, 
.switch[type=checkbox]:checked + label:before {
	background-color: $red;
}

.radio-collection {

	input[type="radio"] {
		display: none;
	}

	label {
		padding: 10px;
		margin: 15px;
		border: 1px solid #ccc;
		border-radius: 6px;
		cursor: pointer;

		&:hover {
			border: 1px solid $primary;
			color: $primary;
		}
	}

	input[type="radio"]:checked + label {
		background-color: $primary;
		color: $white;
	}
}

.dot-notification {
	height: 12px;
	width: 12px;
	background-color: $primary;
	border-radius: 50%;
	display: inline-block;
}
  
.checkbox-heart {
  visibility: hidden;
  
  & + label {
		user-select: none;
    padding-left: 0.5*30px;
	}
	
  &:checked + label:before {    
		cursor: pointer;
    content: $heart;
		color: $primary;
		font-size: 30px;
	}
	
  & + label:before {
		cursor: pointer;
		margin-left: -24px;
		font-family: FontAwesome;
		content: $openheart;
    transition: all 0.3s;
		color: #888;
		font-size: 30px;
	}
}