$heart: "\f004";
$openheart: "\f08a";

.button {
	background-color: $white;
	color: $black;
	font-weight: 400;

	&.shadow {
		box-shadow: 9px 9px 10px -8px rgba(163,160,163,1);
	}

	&.with-border {
		border-color: #ccc;
	}

	&:hover {
		background-color: darken($white, 10%);
		color: $black;
	}

	&.primary {

		background-color: $primary;
		border-color: $primary;
		color: $white;

		&:hover {
			background-color: darken($primary, 10%);
		}
	}

	&.linkedin {
		background-color: #0072b1;
		border-color: #0072b1;
		color: $white;

		&:hover {
			background-color: darken(#0072b1, 20%);
		}
	}
}

.input {

	&.is-disabled {	
		color: transparent;
		background-color: $red;
	}
}

.switch[type=checkbox]:checked + label::before, 
.switch[type=checkbox]:checked + label:before {
	background-color: $primary;
}

.choice-collection {
	display: inline;

	input[type="radio"],
	input[type="checkbox"] {
		display: none;
	}

	label label {
		display: block;
		padding: 10px;
		margin: 15px;
		border: 1px solid #ccc;
		border-radius: 6px;
		cursor: pointer;

		&:hover {
			border: 1px solid $success;
			color: $success;
		}
	}

	input[type="radio"]:checked + label,
	input[type="checkbox"]:checked + label {
		background-color: $success;
		color: $white;
	}
}

.dot-notification {
	height: 12px;
	width: 12px;
	background-color: $primary;
	border-radius: 50%;
	display: inline-block;
}

.simple_form {

	span.error {
		display: block;
		padding: 5px 10px;
		color: $white;
		background-color: lighten($red, 10%);
		border-radius: 4px;
	}

	div.error_notification {
		padding: 5px 10px;
		color: $black; 
		background-color: $light_gray;
		border-radius: 4px;
	}
}

.we-match-btn-block {
	.btn {
		width: 165px;
    text-decoration: none;
    line-height: 46px;
    padding: 0 30px 0 55px;
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
    font-weight: 500;
    border-radius: 23px;
    font-size: 16px;
    transition:  all 0.5s linear;
    -o-transition:  all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s ease;
		overflow: hidden;
		cursor: pointer;

		&:focus,
		&:focus-within {
			outline: none;
		}
	}

	.btn__icon{
		width: 24px;
		height: 24px;
		background-color: $white;
		border-radius: 50%;
		display: inline-block;
		top: 11px;
		position: absolute;
		left: 20px;
	}
	
	.btn .btn__icon:before {
		content: '';
		left:0px;
		top:0px;
		position: absolute;
		transition:  all 0.3s linear;
		-o-transition:  all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s ease;
	}

	.btn--activate .btn__icon:before {
		width: 24px;
		height: 24px;
		background-image: url(asset_path('race_flag_logo.svg'));
		background-repeat: no-repeat;
		background-size: 15px;
		background-position-x: center;
		background-position-y: center;
	}

	.btn .btn__icon:after {
		content: '';
		top: 0px;
		left: 0px;
		position: absolute;
		transition:  all 0.3s linear;
		-o-transition:  all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
	}

	.btn--activate .btn__icon:after {
		width: 24px;
		height: 24px;
		background-image: url(asset_path('rocket_logo.svg'));
		background-repeat: no-repeat;
		background-size: 15px;
		background-position-x: center;
		background-position-y: 34px;
	}

	.btn--activate:hover {
		background-color: darken($primary, 10%);
	}

	.btn--activate:hover .btn__icon {
		border-color: darken($primary, 10%);
	}

	.btn--activate:hover .btn__icon:before{
		background-position-y: -34px;
	}

	.btn--activate:hover .btn__icon:after {
		background-position-y: center;
	}

	.btn--waiting {
		background-color: darken($primary, 10%);
	}

	.btn--waiting .btn__icon{
		background-color: transparent;
	}

	.btn--waiting .btn__icon:after {
		width:20px;
		height:20px;
		top: 0px;
		left: 0px;
		border-radius:50%;
		animation:rotation infinite linear 0.5s;
		transition:none;
		border-top: 2px solid transparent;
		border-left: 2px solid $white;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		z-index: 0;
	}

	.btn__text{
		position: relative;
	}

	.btn__text:before {
		content: attr(data-after);
		position: absolute;
		top: -27px;
		color: transparent;
		z-index: -1;
		color: $white;
		transition:  all 0.2s linear;
		-o-transition:  all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
	}

	.btn__text:after {
		content: attr(data-wait);
		position: absolute;
		color: transparent;
		top: 2px;
		left: 0;
		z-index: -1;
		color: $white;
		transition:  all 0.2s linear;
		-o-transition:  all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
	}

	.btn--waiting .btn__text {
		color: transparent;
	}

	.btn--waiting .btn__text:after {
    top: -15px;
    left: -5px;
		z-index: 1;
	}

	@keyframes rotation {
		0% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: rotateZ(360deg);
		}
	}
}

