.crop {
  height: 350px; 
  overflow: hidden;
  margin: 0;

  img {
    display: block;
    width: 100%;
  }
}

.rounded-image  {
  box-shadow: 8px 6px 10px -6px #ccc;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @for $i from 10 through 150 {
    &.size-#{$i} {
      height: #{$i}px;
      width: #{$i}px;
    }
  }
}