.listhead {
  font-weight: bold;
  background-color: white;
  border-bottom: 2px solid darkgrey;
}

.job-candidates-table {

  &.table tr, &.table td, &.table th {
    border: none;
  }

  &.table td {
    vertical-align: middle;
  }

  .status-wrapper .best_in_place {
    display: block;
    margin: 0 auto;
    line-height: 37px;
    height: 38px;
    width: 100px;
    background-color: $light_grey;
    color: $secondary;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 8px 6px 10px -6px #ccc;
    cursor: pointer;
  
    &:focus,
    &:focus-within {
      background-image: none;
    }

    &:hover {
      background: darken($light_grey, 20%);
    } 

    select.select {
      border: 2px solid $light_grey;
      border-radius: 25px;
      margin-top: 2px;
    }

    select.select:focus,
    select.select:focus-within {
      outline: none;
    }
  }

  .inscription-row-finalist .status-wrapper .best_in_place {
    background: $success;
    color: $white;

    &:hover {
      background: darken($success, 20%);
    } 

    select.select {
      border: 2px solid $success;
    }
  }
  
  .inscription-row-in_process .status-wrapper .best_in_place {
    background: $blue;
    color: $white;

    &:hover {
      background: darken($blue, 20%);
    } 

    select.select {
      border: 2px solid $blue;
    }
  }
  
  .inscription-row-discarded .status-wrapper .best_in_place {
    background: $danger;
    color: $white;

    &:hover {
      background: darken($danger, 20%);
    } 

    select.select {
      border: 2px solid $danger;
    }
  }

  #best_in_place_inscription_1_recommended {
    cursor: pointer;
    font-size: 22px;

    .fas.fa-star {
      color: $gold;
    }
  }
}

.listrow:nth-child(even) {
  background-color: white;
}

.candidate-benefits__list {
  display: inline-block; 
  list-style-type: none; 
  text-align: left;
}

.is-clickable {
  border: 1px solid #3298dc;
  border-radius: 6px;
  padding: 5px;
  text-decoration: none;
  color: $white;
  background-color: #3298dc;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 darken(#3298dc, 5%);

  &:hover {
    background-color: darken(#3298dc, 10%);
    box-shadow: 0 1px 3px 0 darken(#3298dc, 7%);
  }
}

.inscriptions-table {
  .button.is-link {
    max-height: 25px;
    max-width: 10px;
  }
}
