.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #111;
  padding-top: 15px;

  .mobile-menu-logo {
    padding-left: 25px;
  }

  a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: $white;
    font-size: 20px;
  }

  .navbar {
    background: none;
    padding: 0;
    margin-top: 3rem;
  }

  .navbar-brand {
    display: block;
    margin-top: 2rem;
  }

  .back-menu-logo {
    width: 25px;
  }
}

.open-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: $black;
  font-size: 35px;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  top: 28px;
  right: 22px;
  color: $white;
  font-size: 25px;
  cursor: pointer;
}

.navbar-item.active {
  color: $primary;
  font-weight: bold;
}

.navbar-item {
  -webkit-font-smoothing: auto;
  padding: 11px 15px;

  @media (max-width: 1023px) {
    padding: 11px 15px 11px 35px;
  }
}

a.navbar-item:hover {
  background: none;
  color: $primary;
}

.dropdown-trigger button {
  border: 1px solid #d6d6d6;
}