// *= require trix

@import "bulma";
@import 'bulma-extensions';
@import "stripe";
@import "cookies_eu";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/typography',
        'base/functions',
        'base/base';

@import 'layout/header',
        'layout/footer';

@import 'components/forms',
        'components/menu',
        'components/claim',
        'components/search',
        'components/box',
        'components/lists',
        'components/pagination',
        'components/images',
        'components/select2';

@font-face {
  font-family: 'archiathin';
  src: url(asset_path('archia-thin-webfont.eot'));
  src: url(asset_path('archia-thin-webfont.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('archia-thin-webfont.woff2')) format('woff2'),
        url(asset_path('archia-thin-webfont.woff')) format('woff'),
        url(asset_path('archia-thin-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archialight';
  src: url(asset_path('archia-light-webfont.eot'));
  src: url(asset_path('archia-light-webfont.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('archia-light-webfont.woff2')) format('woff2'),
        url(asset_path('archia-light-webfont.woff')) format('woff'),
        url(asset_path('archia-light-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archiaregular';
  src: url(asset_path('archia-regular-webfont.eot'));
  src: url(asset_path('archia-regular-webfont.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('archia-regular-webfont.woff2')) format('woff2'),
        url(asset_path('archia-regular-webfont.woff')) format('woff'),
        url(asset_path('archia-regular-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archiamedium';
  src: url(asset_path('archia-medium-webfont.eot'));
  src: url(asset_path('archia-medium-webfont.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('archia-medium-webfont.woff2')) format('woff2'),
        url(asset_path('archia-medium-webfont.woff')) format('woff'),
        url(asset_path('archia-medium-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archiasemibold';
  src: url(asset_path('archia-semibold-webfont.eot'));
  src: url(asset_path('archia-semibold-webfont.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('archia-semibold-webfont.woff2')) format('woff2'),
        url(asset_path('archia-semibold-webfont.woff')) format('woff'),
        url(asset_path('archia-semibold-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archiabold';
  src: url(asset_path('archia-bold-webfont.eot'));
  src: url(asset_path('archia-bold-webfont.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('archia-bold-webfont.woff2')) format('woff2'),
        url(asset_path('archia-bold-webfont.woff')) format('woff'),
        url(asset_path('archia-bold-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.notification {
  border-radius: 0;
  z-index: 99999;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
}

$size: 34px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

#pagination a {
  display: none;
}