// *= require trix

@import "bulma";
@import "jobs";
@import "stripe";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'abstracts/variables';

@import 'base/typography',
        'base/functions',
        'base/base';

@import 'layout/header',
        'layout/footer';

@import 'components/buttons',
        'components/menu',
        'components/claim';

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}
