<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado un enlace para cambiar la contraseña. Puedes hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado cambiar tu contraseña, por favor ignora este mensaje.</p>
<p>Tu contraseña no cambiará hasta que no accedas al enlace y generes una nueva.</p>
