<section class="section">
  <div class="container">
    <h1 class="title is-4"> Dashboard Admin ¡Coming Soon! </h1>
    
    <div class="columns mt6">
      <div class="column is-half is-offset-one-quarter">
        <%= image_tag(asset_path('dashboard_data_people.svg')) %>  
      </div>
    </div>
  </div>
</section>