<section class="section">
  <div class="container has-text-centered">
    <div class="columns mt5">
        <div class="column">
          <h1 class="title f2"> <%= t('thanks_for_signup') %></h1>
        </div>
      </div>
    </div>
    <div class="columns mt4">
      <div class="column has-text-centered">
        <%= t('email_confirm_sended') %>
      </div>
    </div>
    <div class="columns mt4">
      <div class="column has-text-centered">
        <%= icon('fas', 'envelope', class: 'is-size-1') %>
      </div>
    </div>
  </div>
</section>