<section class="section">
  <div class="container has-text-centered">
    <div class="columns mt5">
        <div class="column">
          <h1 class="title f2"> ¡Gracias por registrarte! </h1>
        </div>
      </div>
    </div>
    <div class="columns mt4">
      <div class="column has-text-centered">
        Se ha enviado un mensaje con un enlace de confirmación a tu dirección de correo electrónico.
      </div>
    </div>
    <div class="columns mt4">
      <div class="column has-text-centered">
        <%= icon('fas', 'envelope', class: 'is-size-1') %>
      </div>
    </div>
  </div>
</section>